body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Raleway', sans-serif;
 /* font-family: 'Sofia Sans', sans-serif;*/
 line-height:2 ;
 font-size: larger;
 font-weight: bolder;
/*background-color: rgb(251,247,239);*/
color: rgb(13,16,17);
}


/************inicio**********/
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

.title{
  text-align: center;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  font-weight: 900;
  color: rgb(211,235,20);
}

.title:hover{
 color:rgb(211,235,20);
}
.titlePreInicio{
font-size: xx-large;
 width: 100%;
font-size: 55px;
color: rgb(13,16,117);

}
.titlePreInicioContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
  border-radius: 50%;
}
.presentacionContainer{
  color: rgb(13,16,117);
}
.bodyInicio{
  background-color: rgb(55,139,101);
}
.divLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.navInicio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.presentacionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

}
.presentacionContainer p{
  margin: 10px;
  color: rgb(13,16,117);
  color: white;
}
.imgInicio{
  width: 100%;
  height: 900px;
}

/**********NavBar***********/

.navBarsContainer{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.navGeneral{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(13,16,117);
  }

.itemsNavGral{
  color: white;
  border: none;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  background-color: transparent;
  display: block;
  transition: 0.3s;
}
.itemsNavGral:hover{
color:rgb(211,235,20);
}

/************generales***********/
.btns-links{
  border-radius: 6px;
  width: 100%;
  text-decoration: none;
  margin-top: 5px;
  padding: 10px;
  font-weight:500 ;
  font-weight:800;
}

.btns-links:hover{
  color:rgb(16,216,157);
}

.btnConIcon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}

ion-icon{
  /*font-size: 25px;*/
  padding: 2px;
  height: 30px;
  width: 30px;
}

.btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
  height: 35px;
  transition: 0.5s;
  border-radius: 6px;
  color: white;
  border: 1px solid rgb(211,235,20 );
  background-color: rgb(16,216,157);
}

.btns:hover{
 background-color: rgb(55,139,101);
}

.containerSelects{
  display: flex;
  flex-direction:row;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid rgb(211,235,20 );
}
.sub-div-container-serlect{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.containerSelectsForms{
  width: 100%;
}
.containerSelectsForms input{
  width: 100%;
  height: 20px;
}
.selects{
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-transform: uppercase;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgb(211,235,20 );
  color: rgb(13,16,117);
}
.selects:hover{
 color: rgb(16,117,197);
}

.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 90%;
  border-radius: 9px;
  border: 1px solid rgb(211,235,20 );
 
}

.forms .inputs{
  width: 100%;
  margin: 7px;
  padding: 7px;
  font-size: medium;
}

.forms .btns-links{
  width: 100%;
  margin: 7px;
  padding: 7px;
  font-size: medium;
  transition: 0.3s;
}
.forms .btns-links:hover{
  color: pink;
}


.containerBodyRegister{
  width: 60%;
  margin: auto;
}

.borderContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}
.generalContainers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-top: 200px;
}


.divContainerForms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;

}

.cardsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  align-items: flex-start;
}
.productsCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
 /* line-height:1;
  overflow: hidden;*/
  border-radius: 6px;
  background-color: transparent ;
  border: 1px solid rgb(211,235,20 );
  color: rgb(13,16,117);
}
.productsCard p{
  width: 100%;
  margin-top: 1px ;
}

.productsImgCard{
  width: 90%;
  transition: 0.5s;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 3px;
}
.productsImgCard:hover{
  transform: scale(1.2);

}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 15px;
  line-height:1;
  overflow: hidden;
  border: 1px solid rgb(211,235,20 );
  color: rgb(13,16,117);
}
.cards:hover{
  color: black;

}
.divImgCards{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.cardsImg{
  width: 100%;
  border-radius: 6px;
}
.bodyCards{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  font-size: small;
}

.bodyInicio{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hamburguerMenuDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  display: none;
}

.containerResponsivesMenus{
  width: 100%;
  display: block;
}


  /***********************sliders cards**************/
  .slider-container-users-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  .slider-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(211,235,20 );
    color: rgb(13,16,117);
  }
  .slider-cards *{
    width: 90%;
    margin: 5px;
    font-size: 18px;
    text-align: center;
  }
  .slider-card-container-img{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .slider-card-container-img img{
   width: 100%;
  }
  
  /***********selects*****/
  .containerSelects{
    width: 90%;
    margin:200px auto auto auto;

  }

/****************section chat************/

.btnGetUserChats{
  font-size: larger;
  color:rgb(20,31,83);
}
.btnGetUserChats:hover{
  color:rgb(38,146,229);
}
.chatsListContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  top: 100%; 
  left: 0;
  z-index: 1; 
 /*background-color: black;
 color: white;*/
 background-color: white;
 color: black;

}

.userChatsList{
 /* display: block;*/
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 /*position: absolute;*/
 z-index: 1; 
 width: 100%;
 color: rgb(20,31,83);
}
.userChatsList:hover{
  color: rgb(16,117,197);
}

.linksChats{
 display: flex;
 flex-direction: row;
 justify-content: center;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
 transition: 0.3s;
 margin-left: 40px;
 color: rgb(20,31,83);
}
.linksChatsImgContainer{
  width: 35px;
  height: 35px;
  margin-right:9px;
  overflow: hidden;
  border-radius: 20px;
}

.linksChats img{
  width: 100%;
/*  border-radius: 40%;*/
  margin-right: 2px;
}
/*
.linksChats:hover{
  border: none;
}*/

.displayNoneChat{
  display: none;
}

/*******chatContent*********/

.chatContentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 250px;
  width: 100%;
  border: 1px solid rgb(211,235,20 );
  color: rgb(13,16,117);
  border-radius: 6px;
  padding: 10px;
}
.chatContentContainerChild{
width: 100%;
margin: auto;
}
.chatContentContainerChild input{
  width: 95%;
  min-height: 30px;
  margin: auto;
}
.cargando{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.opositOwnerChatContent{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
background-color: rgb(20,31,83);
color: white;
border-radius: 6px;
}
.opositOwnerChatContent p{
  margin-right: 10px;
}
.opositOwnerContainerImg{
  height: 50px;
  width:50px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 40%;
}
.opositOwnerContainerImg img{
width: 100%;

}

.messagesContent{
width: 95%;
margin-top: 20px;
padding: 5px;
border-radius: 6px;
position: relative;
margin-bottom: 20px;
border-bottom: 1px solid rgb(20,31,83);
border-top: 1px solid  rgb(20,31,83);
}
/***********delete and send message***/
.btnDeleteMessage{ 
  position: absolute;
  bottom: 0;
  right: 0;
   
}

.btnDeleteMessage ion-icon{
width: 24px;
height: 24px;
font-size: larger;

}
.btnDeleteMessage:hover::before {
  content: "Eliminar mensaje";
  position: absolute;
  bottom: 100%; 
  right: 0;
  background-color: #333; 
  color: #fff; 
  padding: 3px; 
  border-radius: 3px;
  display: block;
  white-space: nowrap;
  font-size: small;
}
/*
.formSendMessage{
  width: 100%;
}*/
/*
.formSendMessageInput{
  width: 95%;
  height: 50px;
  
}*/




@media screen and (max-width:900px) {
  .constainersGenerale{
    margin-top: 180px;
  }
  .displayNone{
    display: none; 
  }
  .displayBlock{
    display: block;
    width: 100%;
  }
  
  .navInicio{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.navGeneral{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  }
  .itemsNavGral{
    border: none;
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    width: 95%;
  }
  .itemsNavGral:hover{
    color: rgb(211,235,20);
  }

.hamburguerMenuDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  display: block;
background-color: rgb(20,31,83);
color: white;
}

.containerBodyRegister{
  width: 100%;
  margin: 0px;
}

.containerSelects{
  display: flex;
  flex-direction:column;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 90%;
  border: 1px solid rgb(211,235,20 );
  color: rgb(13,16,117);
}
.sub-div-container-serlect{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.selects{
  padding: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  width: 90%;
}

  .loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bodyInicio{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .btns, .btns-links, .divContainerForms{
    width: 100%;
  }

  .constainersGenerale{
    margin-top: 150px;
  }

  .cardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }

.showChatBtn{
  width: 100%;
  border: 1px solid;
}

  /***********************sliders cards**************/
  .slider-container-users-cards {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;
    overflow-x: hidden;
  }
  .slider-cards{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 320px;
    width: 100%;
    cursor: pointer;
    scroll-snap-align: center;
    border-radius: 3px;
    border: 1px solid rgb(211,235,20 );
    color: rgb(13,16,117);
  }
  .slider-cards *{
    width: 100%;
    margin: 5px;
    font-size: 18px;
    text-align: center;
  }
  .slider-card-container-img{
    width: 100%;
    min-width: 320px;
    height: 300px;
    overflow: hidden;
  }
  .slider-card-container-img img{
   width: 100%;
  }

}






